<!-- Meta -->
<meta charset="utf-8">
<title>@ViewBag.title</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META name="robots" content="noindex,nofollow">
<link rel="shortcut icon" href="~/Areas/Admin/Content/img/1371476468_preferences-contact-list.png" type="image/x-icon" />
