@model MyEshop.DomainClass.User
@using System.Configuration

<div style="direction:rtl; padding:20px;">
    <h2>@Model.UserName</h2>
    <p>جهت بازیابی کلمه عبور خود روی لینک زیر کلیک نمایید !</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/ResetPassword/@Model.ActiveCode">لینک بازیابی کلمه عبور</a>
    </p>
</div>
