
@{
    ViewBag.Title = "فعالسازی حساب کاربری";
}

<h2>فعالسازی حساب کاربری</h2>
<hr />

<div class="alert alert-success">
    <h2>@ViewBag.userName عزیز، حساب کاربری شما فعال شد .</h2>
    <p>
        از طریق این 
        <a href="/Login">
            لینک
        </a>
        می توانید وارد سایت شوید .
    </p>
</div>

