@model MyEshop.DomainClass.User

@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

<div class="alert alert-success">
    <h2>@Model.UserName عزیز !</h2>
    <p>
        ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل @Model.Email فرستاده شد، لطفا وارد ایمیل خود شوید و روی لینک بازیابی کلمه عبور کلیک نمایید !
    </p>
</div>

