<nav class="mega-menu">
    <div class="container">
        <span class="responsive-list"><i class="fa fa-th-list"></i></span>
        <ul>
            <li><a href="/"> صفحه اصلی </a></li>
            <li><a href="#"> فروشگاه </a></li>
            <li><a href="#"> آرشیو محصولات </a></li>
            <li><a href="#"> وبلاگ </a></li>
            <li><a href="#"> درباره ما </a></li>
            <li><a href="#"> تماس با ما </a></li>
            <li><a href="#"> قوانین سایت </a></li>
        </ul>

        <!-- Search -->
        <div class="form-search">
            <span><i class="fa fa-search"></i></span>
            <form action="" method="get">
                <input type="text" placeholder=" جستجو کنید ..." class="border-radius">
                <button type="submit" class="border-radius"> بگرد </button>
            </form>
        </div>
        <!-- End Search -->

    </div>
</nav>