<footer>
    <div class="top-footer">
        <div class="container">
            <section class="col-lg-4 col-md-4 permalink-section">
                <header><h3> دسترسی سریع </h3></header>
                <article>
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                        <li><a href=""> قوانین سایت </a></li>
                        <li><a href=""> راهنمای خرید </a></li>
                        <li><a href=""> سوالات متداول </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                    </ul>
                </article>
            </section>
            <section class="col-lg-4 col-md-4 permalink-section">
                <header><h3> لینک های مفید </h3></header>
                <article>
                    <ul>
                        <li><a href="">پرسش های متداول</a></li>
                        <li><a href="">پرسش های متداول </a></li>
                        <li><a href="">پرسش های متداول </a></li>
                        <li><a href="">پرسش های متداول </a></li>
                        <li><a href="">پرسش های متداول </a></li>
                        <li><a href="">پرسش های متداول </a></li>
                        <li><a href="">پرسش های متداول </a></li>
                        <li><a href="">پرسش های متداول </a></li>
                    </ul>
                </article>
            </section>
            <section class="col-lg-4 col-md-4 contact-section">
                <header><h3> تماس با ما </h3></header>
                <article>
                    <p><i class="fa fa-map-o"></i> نشانی :  تهران ، خیابان کریم خان ، ابتدای خیابان ملک ، کوچه بنیادین ، پلاک 20 </p>
                    <p><i class="fa fa-volume-control-phone"></i> 021-58263548 </p>
                    <p><i class="fa fa-envelope"></i> info@domain.com</p>
                    <p><i class="fa fa-fax"></i> 021-58263548 </p>
                </article>
            </section>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-6">
                <ul>
                    <li><a href=""> خانه </a></li>
                    <li><a href="">قوانین سایت </a></li>
                    <li><a href=""> درباره ما </a></li>
                    <li><a href=""> تماس با ما </a></li>
                </ul>
                <p>Ⓒ تمام حقوق مادی ومعنوی این سایت متعلق به " <a href=""> شرکت ویژن ویرا فرتاک </a> " می باشد.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="social-layer">
                    <a href="" class="border-radius"><i class="fa fa-facebook"></i></a>
                    <a href="" class="border-radius"><i class="fa fa-linkedin"></i></a>
                    <a href="" class="border-radius"><i class="fa fa-twitter"></i></a>
                    <a href="" class="border-radius"><i class="fa fa-google-plus"></i></a>
                    <a href="" class="border-radius"><i class="fa fa-paper-plane"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
